<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>custom-vue-test-page</title>
</head>

<body>
  <div id="app">
    <p>插值表达式：{{ msg }}</p>
    <p>v-text</p>
    <div v-text="msg"></div>
    <p>v-model</p>
    <input type="text" v-model="msg">
    <br>
    <textarea name="" id="" cols="30" rows="10" v-model="rawHtml"></textarea>
    <p>v-html</p>
    <p>{{ rawHtml }}</p>
    <p><span v-html="rawHtml"></span></p>
    <p @click.prevent="say">你好</p>
    <p v-on:click.stop="say">hello</p>
  </div>
  <script src="./lib/Dep.js"></script>
  <script src="./lib/Watcher.js"></script>
  <script src="./lib/Compiler.js"></script>
  <script src="./lib/Observer.js"></script>
  <script src="./lib/Vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        msg: 'hello world',
        rawHtml: '<span style="color:red">This should be red.</span>'
      },
      methods: {
        say() {
          console.log('hello')
          console.log(this)
        }
      }
    })
  </script>
</body>

</html>